extends layout

block content
        .push
        .blog
          #individualPost.individual_blog
            h1  Welcome to Jay's Kingdom! 
            p
              | Finally Hosting this site! Took longer than expected, due to school and other commitments. But it's good to finally be up hehe. This blog will be updated on a bi-weekly basis. Be sure to check in all the cool stuff that's on the site :). There is a blog-style playlist on the
              a(href='music.html')  Music 
              | page, highly recommended. A bunch of useful things can be found in the
              a(href='projects.html')  Project 
              | page. As well as the infamous "Tales of Big D".  This blog will probably be the most random thing you will stumble across for a while. Things I am most likely going to rant about include
              a(href='http://en.wikipedia.org/wiki/Software', target='_blank')  Software 
              | and also the random things I stumble across on the interwebs. Have fun!
         
          .push