extends layout

block link
  -var selected = 'Blog';


block content
        .push
        .blog



          #individualPost.individual_blog
            h1 Updates to my Site
            p.posttext
              | I just realized a couple of days ago that I COMPLETELY forgot about this website, lol... I guess I was just caught up with other things. In fact, I had worked a bit on, but forgot to push any of the changes I made to the server; that is why the previous post didn't even show... Oh well.

          #individualPost.individual_blog
            h1  Why I personally love One Piece!
            p.posttext
              | If you have ever met me (or conversed with me online), you will come to know sooner or later about my odd, childish, but beatiful obsession with the manga series One Piece.
              | It started when I was about 7 or 8, I had only been watching the anime back then, it was only when I was around 15 that I started reading the manga. Reading the manga was good in the sense that I did not have the fear of people spoiling the series for me.
              | After reading only the manga for about 2 and a half years, I decided to resume watching the anime as well, since it would serve as a good refresher AND I get to see all the amazing arcs in animation. Not to talk about the amazing soundtrack the anime has (not as good as Attack on Titan's, but that's for another blog post... hehe).
              | Now, for the reasons that I love the series... for starters, the premise of the series revolves around the world of pirates, which is always solid in my opinion. On top of that, the way Oda (the creator of this geniousity) designed the storyline is so flexible that I can't help but imagine "what if they went another route". And thinking about
              | all the vast posibilites the storyline could adapt is mind blowing! 
              | The characters... boy oh boy, every character in One Piece is thought out and designed carefully. They each have a specific purpose in the storyline.

          #individualPost.individual_blog
            h1  Welcome to Jay's Kingdom! 
            p.posttext
              | Finally Hosting this site! Took longer than expected, due to school and other commitments. But it's good to finally be up hehe. This blog will be updated on a bi-weekly basis. Be sure to check in all the cool stuff that's on the site :). There is a blog-style playlist on the
              a(href='music.html')  Music 
              | page, highly recommended. A bunch of useful things can be found in the
              a(href='projects.html')  Project 
              | page. As well as the infamous "Tales of Big D".  This blog will probably be the most random thing you will stumble across for a while. Things I am most likely going to rant about include
              a(href='http://en.wikipedia.org/wiki/Software', target='_blank')  Software 
              | and also the random things I stumble across on the interwebs. Have fun!


          
         
          