extends layout

block content
        h1.nametext
          span  Jay Bamimore 
        .push
        .main.headtext 
            ul
              li
                a(href='blog')  Blog 
              li
                a(href='projects')  Projects 
              li
                a(href='music')  Music 
              li
                a(href='resume')  Resume 
              li
                a(href='about', style='background-image: none;')  About 
          
          