extends layout

block content
        .push
        h1
          span  Jay Bamimore 
        div
          ul
            li
              span
                a(href='blog')  Blog 
            li
              a(href='projects')  Projects 
            li
              a(href='music')  Music 
            li
              a(href='resume')  Resume 
            li
              a(href='about', style='background-image: none;')  About 
          .push