doctype html
html
  head
    title #{title} | Jay
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic|Ubuntu+Mono\' rel=\'stylesheet\' type=\'text/css')
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', type='text/css', href='ss/myRes.css')

    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.js')
    

  body
     //
     Fixed navbar 
    .navbar.navbar-centered.navbar-inverse.navbar-fixed-top(role='navigation')
      .push_min
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='index') Home
            li
              a(href='blog') Blog
            li
              a(href='projects') Projects
            li
              a(href='music') Music
            li
              a(href='resume') Resume
            li
              a(href='about') About
        //
          /.nav-collapse 

   
    .container
      block content
      .push


    #footer
      p
        | &copy 2014
        a(href='/')  Jay Bamimore 



 