extends layout

block link
  -var selected = 'Music';

block content
      
      .push
      #music-chart
        
        include ../posts/music/music_posts.jade
        
        

        include disqus.html
        
       