extends layout

block link
  -var selected = 'Music';

block content
      
      .push
      #music-chart
        

        #individualPost.individual_audio
          h1
            a.stratus(href='https://soundcloud.com/skrillex/nero-promises-skrillex') Nero - Promises (Skrillex Remix)
          .clearme
          iframe(width="100%", height="166", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/24714965&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&visual=true")


          p.posttext  Skrillex actually did a good job with this remix... IMO 
          .clearme


        #individualPost.individual_audio
          h1
            a.stratus(href='https://soundcloud.com/pendulum/witchcraft') Pendulum - Witchcraft
          .clearme
          iframe(width="100%", height="166", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/36827374&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&visual=true")

          p.posttext  This track is pure witchcraft indeed... gg Pendulum 
          .clearme


        #individualPost.individual_audio
          h1
            a.stratus(href='https://soundcloud.com/naughtyboymusic/naughty-boy-la-la-la-feat-sam') Naughty Boy - La La La (feat. Sam Smith)
          .clearme
          iframe(width="100%", height="166", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/83936495&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&visual=true")
          p.posttext  I find this song very addicting to listen to for some reason. 
          .clearme

        #individualPost.individual_audio
          h1
            a.stratus(href='https://soundcloud.com/yaneko/samurai-champloo-shiki-no-uta') Samurai Champloo - Shiki No Uta 
          .clearme
          iframe(width='100%', height='166', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/18998970&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&visual=true')
          p.posttext
            | Samurai Champloo has one of the best OST ever (on par with that of Attack on Titan). Shiki No Uta is my personal favorite, very soothing.
          .clearme
       
       
        #individualPost.individual_audio
          h1
            a.stratus(href='https://soundcloud.com/annie-mac-presents/the-look-metronomy-two-inch') Metronomy -The Look (TIP Rework)
          .clearme
          iframe(width='100%', height='166', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/35000761&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&visual=true')
          p.posttext  One of my favorite mixes of Metronomy's 'The Look'.
          .clearme
       
       
        
       

        #individualPost.individual_audio
          h1
            a.stratus(href='https://soundcloud.com/killagraham/killagraham-clowns')  Killa Graham - Clown 
          .clearme
          iframe(width="100%", height="166", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/61015575&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&visual=true")

          p.posttext  For those crazy days...
          .clearme
        

        include disqus.html
        
       