extends layout

block link
  -var selected = 'Projects';

block content
      
      .push
      .blog
        #individualPost.individual_blog
           
            h1 Projects
            .clearmemore
            ul
              li.posttext
                 a(href='https://github.com/Jaytex/OMC') OMC
              .clearmemore
              li.posttext
                 a(href='https://github.com/Jaytex/WatPath') WatPath
              .clearmemore
              li.posttext
                 a(href='https://github.com/Jaytex/jaybamimore.com') jaybamimore.com