extends layoutr

block content
      .push
      #music-chart
        h1
          span  Jay Bamimore 
        a#Q1-1-1
        h3.likesectionHead
          a#x1-1000
          span.underline
            span.LinLibertineT-tlf-sc-t-1 Skills
        dl.list1
          dt.list
          dd.list
            //
              l. 50
            p.noindent
              ul.itemize1
                li.itemize
                  | Languages: C, C++, Python, SQL, and Visal Basic (familiar with Java, C#, MATLAB, Scheme)
                li.itemize
                  | Operating Systems: Microsoft Windows(XP, Vista, 7, and 8), Linux(Ubuntu), Mac OS X
                li.itemize
                  | Web Development: HTML, CSS, JavaScript, Jade, Node.js, Express
                li.itemize
                  | Tools:
                  span.LATEX
                    | L
                    span.A A
                    span.TEX
                      | T
                      span.E E
                      | X
                  | , Git, Vim, Visual Studio, Eclipse, Code Blocks, Sublime Text 3, bash, puTTy, gedit
        .clearme
        a#Q1-1-3
        h3.likesectionHead
          a#x1-2000
          span.underline
            span.LinLibertineT-tlf-sc-t-1 Projects
        dl.list1
          dt.list
          dd.list
            //
              l. 68
            p.noindent
              //
                l. 71
              p.noindent
                span.LinLibertineTB-tlf-t-1
                  | Neo Jarir Database and Spreadsheet
                span.LinLibertineTI-tlf-t-1 Sep 2011   Apr
                span.LinLibertineTI-tlf-t-1 2012
                br.newline
                span.LinLibertineTI-tlf-t-1 GCE Applied ICT Coursework
                ul.itemize1
                  li.itemize
                    | Managed a project for 4 months
                  li.itemize
                    | Designed, developed, and tested a small functional relational database, and spreadsheets shared between
                    | multiple showrooms
                  li.itemize
                    | Implemented various queries, macros, forms, reports, cell formulae and rules
                  li.itemize
                    | Created highly detailed User Guides and Technical Documentations
                  li.itemize
                    | Skills Developed: O ce Acces/Excel/Project/Visio, SQL, Visual Basic, Creating installation packages
                //
                  l. 84
                p.noindent
                  span.LinLibertineTB-tlf-t-1
                    | Personal Website
                  span.LinLibertineTI-tlf-t-1 May 2013  
                  span.LinLibertineTI-tlf-t-1 Present
                  ul.itemize1
                    li.itemize
                      | Personal website where I post blogs, music I listen to, personal info etc. (
                      span.LinLibertineTI-tlf-t-1 Yet to be hosted
                      | )
                    li.itemize
                      | Plan to integrate my note-taking work ow, design, and music projects
                    li.itemize
                      | Skills Developed: JavaScript/jQuery, HTML/CSS, Node.js, Express, Jade Use of various APIs (Soundcloud, Google etc.)
                  //
                    l. 93
                  p.noindent
                    span.LinLibertineTB-tlf-t-1
                      | Note-taking Work ow
                    span.LinLibertineTI-tlf-t-1 Sep 2013  
                    span.LinLibertineTI-tlf-t-1 Present
                    ul.itemize1
                      li.itemize
                        | I make compilations of concise typeset notes of courses I attend
                      li.itemize
                        | Updated frequently (
                        span.LinLibertineTI-tlf-t-1 Plan to host the notes on my site when it is up
                        | )
                      li.itemize
                        | Skills Developed:
                        span.TEX
                          | T
                          span.E E
                          | X
        .clearme
        a#Q1-1-5
        h3.likesectionHead
          a#x1-3000
          span.underline
            span.LinLibertineT-tlf-sc-t-1 Volunteer Experience
        dl.list1
          dt.list
          dd.list
            //
              l. 108
            p.noindent
              //
                l. 110
              p.noindent
                span.LinLibertineTB-tlf-t-1
                  | Technical Support
                span.LinLibertineTI-tlf-t-1 Sep 2011  Sep
                span.LinLibertineTI-tlf-t-1 2012
                br.newline
                span.LinLibertineTI-tlf-t-1 Jawahir Al-Riyadh International School
                ul.itemize1
                  li.itemize
                    | Set up school's computer lab
                  li.itemize
                    | Installing operating systems and application software on computers. Assembling computers
                  li.itemize
                    | Skills Developed: Familiarity with di erent OS, Installing various computer parts
                //
                  l. 121
                p.noindent
                  span.LinLibertineTB-tlf-t-1
                    | Chess World League
                  span.LinLibertineTI-tlf-t-1 Nov 2012   Aug
                  span.LinLibertineTI-tlf-t-1 2013
                  ul.itemize1
                    li.itemize
                      | Worked on the website's design and performed frequent database checkups and  xes
                    li.itemize
                      | Used Git for version control
                    li.itemize Skills Developed: HTML/CSS, Git/Bash, HeidiSQL/SQL
        .clearme
        a#Q1-1-7
        h3.likesectionHead
          a#x1-4000
          span.underline
            span.LinLibertineT-tlf-sc-t-1 Awards
        dl.list1
          dt.list
          dd.list
            //
              l. 142
            p.noindent
              ul.itemize1
                li.itemize
                  | 3 A*s in IGCSE O Level (Computer Studies, Phyiscs, Chemistry)
                  span.LinLibertineTI-tlf-t-1 Jun
                  span.LinLibertineTI-tlf-t-1 2010
        .clearme
        a#Q1-1-9
        h3.likesectionHead
          a#x1-5000
          span.underline
            span.LinLibertineT-tlf-sc-t-1 Education
        dl.list1
          dt.list
          dd.list
            //
              l. 157
            p.noindent
              span.LinLibertineTB-tlf-t-1
                | Candidate for Bachelor of Computer Science                                                                                   Waterloo
              span.LinLibertineTB-tlf-t-1 ON
              br.newline
              span.LinLibertineTI-tlf-t-1
                | University of Waterloo                                                                                                                                Sep 2012
              span.LinLibertineTI-tlf-t-1 Present
              br.newline
              //
                l. 165
              p.noindent
                span.LinLibertineTB-tlf-t-1
                  | GCE Advanced Level                                                                                                                                  Riyadh
                span.LinLibertineTB-tlf-t-1 KSA
                br.newline
                span.LinLibertineTI-tlf-t-1
                  | Edexcel London Examinations                                                                                                                               Jun
                span.LinLibertineTI-tlf-t-1 2012
                br.newline
                //
                  l. 172
                p.noindent
                  span.LinLibertineTB-tlf-t-1
                    | IGCSE O Level                                                                                                                                             Riyadh
                  span.LinLibertineTB-tlf-t-1 KSA
                  br.newline
                  span.LinLibertineTI-tlf-t-1
                    | University of Cambridge                                                                                                                                        Jun
                  span.LinLibertineTI-tlf-t-1 2010
                  br.newline
        .push
      .push