extends layout

block link
  -var selected = 'Resume';


block content
      
      h1.nametext
            span  Jay Bamimore
      .push
      .blog
        #individualPost.individual_blog
           
            h1 Skills
            .clearmemore
            ul
              li.posttext
                | Languages: C, C++, Java, MATLAB, Python, SQL, WLP4, and Visal Basic (familiar with C#, Scheme)
              .clearmemore
              li.posttext
                | Operating Systems: Microsoft Windows(XP, Vista, 7, and 8), Linux(Ubuntu, Fedora, Shell), Mac OS X
              .clearmemore
              li.posttext
                | Web Development: HTML, CSS, JavaScript, jQuery, Jade, Node.js, Express, Bootstrap
              .clearmemore
              li.posttext
                | Tools:
                span.LATEX
                  | L
                  span.A A
                  span.TEX
                    | T
                    span.E E
                    | X
                | , Git, Vim, Visual Studio, Eclipse, Code Blocks, Sublime Text 3, bash, puTTy, gedit
        
        #individualPost.individual_blog
           
            h1 Projects
            .clearmemore
            ul
              li.posttext
                | OMC
              .clearmemore
              li.posttext
                | Note-taking Workflow
              .clearmemore
              li.posttext
                | WatPath
              .clearmemore
              li.posttext
                | Bamiblog
            
        #individualPost.individual_blog
           
            h1 Education
            p.noindent.posttext University of Waterloo   
            .noindent.posttext Sep 2012 - Present
            .clearme
            span.posttext Candidate for Bachelor of Computer Science    