<script src="/js/stratus.js"></script> 


<script type="text/javascript">

   (function() {
     $(document).ready(function() {
       return $('body').stratus({
        links: 'https://soundcloud.com/kygo/coldplay-midnight-kygo-remixpete-tong-bbc-radio-1-snippet',
        align: 'bottom',
        auto_play: false,
        animate: 'slide',
        color: '00CCFF',
        user:false,
        stats:false,
        buying:false,
        position:'absolute'
       });
      });
    }).call(this);

  </script>