@import url("bootstrap.min.css");
@import url("bootstrap-theme.min.css");

.centered{
  max-width: 550px;  
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.push_min{
  height:40px;
}
.push_min2{
  width: 20px;
}


body{
  background: gainsboro;
  text-align: left;
}

html {
  height: 100%;
}

p {
  color:white;
  font-size: 16px;
  font-family:'Ubuntu Light';
  padding-top: 0.8cm;
  width:100%;
  overflow:hidden;
}




.push {
  height:50px;
}

#footer p {
  font-size: 15px;
  color: white;
  text-decoration: none;
  text-align: left;
  padding-top: 20px;
}


#footer a{
  text-decoration: none;
  color: white;
}

#footer a:hover{
  color: grey;
  }

#footer {
  width: 100%;
  height:90px;
  background: rgb(37, 37, 37);
  border-top: dashed;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;  
  z-index: 10;
}

html { height: 100% }

h1 {
  text-align:center;
  color: black;
  font-size: 72px;
  font-family:'texfont';
  padding-top: 1px;
}

body.thin h1{ font-size: 30px; padding-top: 2px; text-align: center;}

h2 {
  color: black;
  font-size: 18px;
  font-family: 'texfont';
  float: left;
  text-decoration: none;
}

a {
  background-color:transparent;
  display: inline-block;
  outline: none;
}

 ul {
  list-style-type: none;
  width: 700px;
  margin: auto;
}

@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
}

body.thin ul { 
  width: 300px;
  height: 40px;
  padding-bottom: 70px;

}

li {float: left;}

body.thin li{
  float: none;
}

  body.wide  ul a {
  background-image: url('/img/obsidian.png');
  background-repeat: no-repeat;
  background-position: right;
  line-height: 80px;
  padding-right: 32px;
  padding-left: 32px;
  display: block;
  text-decoration: none;
  font-family: 'Ubuntu';
  font-size: 21px;
  color: black;
}

body.wider  ul a {
  background-image: url('/img/obsidian.png');
  background-repeat: no-repeat;
  background-position: right;
  line-height: 80px;
  padding-right: 32px;
  padding-left: 32px;
  display: block;
  text-decoration: none;
  font-family: 'Ubuntu';
  font-size: 21px;
  color: black;
}


 body.thin ul a{
  background-image: url('/img/obsidianh.png');
  background-position: bottom;
  line-height: 50px;
  padding-right: 0px;
  padding-left: 0;
  display: block;
  text-decoration: none;
  font-family: 'Ubuntu';
  font-size: 19px;
  color: black;
  background-repeat: repeat-x;
  text-align: center;
}

@font-face{
  font-family: "texfont";
  src: url('http://www.fontsforweb.com/public/fonts/423/SansationLight.eot');
  src: local("Sansation Light"), url('http://www.fontsforweb.com/public/fonts/423/SansationLight.woff') format("woff"), url('http://www.fontsforweb.com/public/fonts/423/SansationLight.ttf') format("truetype");
}

p {
  color:black;
  font-size: 16px;
  font-family:'texfont';
  padding-top: 0.8cm;
  width:100%;
  overflow:hidden;
}



/* Mobile layout */

@media (max-device-width : 480px) {

  ul a {
  background-image: url('/img/obsidianh.png');
  background-position: bottom;
  background-repeat: repeat-x;
  font-size: 60px;
  font-family: 'Ubuntu';
  display: block;
  padding-top: 0cm;
  padding-bottom: 0cm;
}

li{float: none;}



#content{
width:100%;
line-height: 100px;
}

ul { 
  width: 700px;
  height: 80px;

}


h1{ font-size: 100px; padding-top: 2px; text-align: center; font-family: 'Ubuntu';}


 #footer {
width:100%;
height:180px;
background-color: rgba(1, 1, 1, 0.9);
border-top: dashed;
bottom: 0;
right: 0;
left: 0;
position: fixed;  
}
footer
# p {
  font-size: 45px;
  padding-left: 15px;
  color: white;
  text-decoration: none;
  text-align: left;
  padding-top: 5px;
  } 
}

/* Thin Layout */

body.thin #container{
width:100%;
}

body.thin #content{
width:100%;
line-height: 20px;
padding-bottom: 50px;
}

body.thin #navbar{
  display: none;
}