@import url("bootstrap.min.css");
@import url("bootstrap-theme.min.css");
.centered{
  max-width: 550px;  
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.push_min{
  height:40px;
}
.push_min2{
  width: 20px;
}

/* start css.sty */
.LinLibertineTB-tlf-t-1x-x-248{font-size:248%; color: black;}
p.noindent { text-indent: 0em; color: black; font-family: 'Ubuntu', 'texfont';}
td p.noindent { text-indent: 0em; margin-top:0em; font-family: 'Ubuntu', 'texfont';}
p.nopar { text-indent: 0em; font-family: 'Ubuntu', 'texfont'; }
p.indent{ text-indent: 1.5em; color: black; font-family: 'Ubuntu', 'texfont'; }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em; font-family: 'Ubuntu', 'texfont'; }
li p:first-child{ margin-top:0em; font-family: 'Ubuntu', 'texfont'; }
li p:last-child, li div:last-child { margin-bottom:0.5em; font-family: 'Ubuntu', 'texfont';}
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; font-family: 'Ubuntu', 'texfont';}
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {black-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; font-family: 'Ubuntu', 'texfont'; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; black-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; black-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em; font-family: 'Ubuntu', 'texfont';}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; font-family: 'Ubuntu', 'texfont'; }
td p:last-child{ margin-bottom:0em; font-family: 'Ubuntu', 'texfont'; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; font-family: 'Ubuntu', 'texfont';}
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em; font-family: 'Ubuntu', 'texfont';}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; black-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; black-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; font-family: 'Ubuntu', 'texfont'; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; font-family: 'Ubuntu', 'texfont'; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{black-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{black-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%; font-family: 'Ubuntu', 'texfont'; }
div.abstract {width:100%;}
dt.enumerate-enumitem{float:left; clear:left; margin-left:1em; margin-right:1em;}

/* Design Additions */
body {
	background: gainsboro;
}

body.wider {
  background: gainsboro;
  height: 100%;
}

body.thin #container{
width:100%;
}

body.thin #content{
width:100%;
padding-top: 180px;

}


body.thin #footer{
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  margin-bottom: 0;
}

html {
  background:gainsboro;
  min-height:100%;
  position: relative;
}

body {
  margin:0 0 100px;
}
a, p {
  font-family: 'Ubuntu', 'texfont';
}

@font-face{
  font-family: "texfont";
  src: url('http://www.fontsforweb.com/public/fonts/423/SansationLight.eot');
  src: local("Sansation Light"), url('http://www.fontsforweb.com/public/fonts/423/SansationLight.woff') format("woff"), url('http://www.fontsforweb.com/public/fonts/423/SansationLight.ttf') format("truetype");
}

#container{
  width:100%;
  margin:0 auto;
}

#content {
min-height: 100%;
height: auto !important;
width:100%;
display: block;
position: relative;
}

#music-chart{
   min-height: 100%;
  height: auto !important;
  width: 80%;
  background-color: gainsboro;
  border-left: outset;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: left;
  padding-left: 5px;
}
body.thin #music-chart{
  padding-top: 180px;
  border-left: thin;
}
h1 {
  text-align:center;
  color: black;
  font-size: 72px;
  font-family:'texfont';
  padding-top: 10px;
}

body.thin h1{ font-size: 40px; padding-top: 2px;}

h2 {
  color: black;
  font-size: 18px;
  font-family: 'texfont';
  float: left;
  text-decoration: none;
}



#individualPost {
    background: none repeat scroll 0% 0% rgb(37, 37, 37);
    margin: 0px 10px 10px 0px;
    padding: 15px;
    border: medium none;
    border-bottom: outset;
}

.individual_audio {
    border-top: 14px solid rgb(115, 165, 56);
}

.individual_blog {
  border-top: 14px solid #4275ca
}

#individualPost h1 {
    font-weight: 200;
    font-style: bold;
    font-size: 28px;
    font-family: 'texfont', 'Ubuntu';
    margin: 0px 0px 20px;
    float: left;
    width: 80%;
    text-align: left;
    color: black;
    text-decoration: none;
}

#individualPost h1 a{
  color: black;
}

#individualPost p{
  text-align: left;
}


.clearme {
    height: 1px;
    font-size: 0.001em;
    text-indent: -9999px;
    clear: both;
}

body.wider #content{
  min-height: 100%;
  height: auto !important;
  width: 100%;
  display: block;
  position: relative;
}

#content.blog iframe{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: table;
}

#content .blog{
  min-height: 100%;
  height: auto !important;
  width: 80%;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: left;
}

 #footer {
  width: 100%;
  height:90px;
  background: rgb(37, 37, 37);
  border-top: dashed;
  bottom: 0;
  position: absolute;  
  z-index: 10;
}

#stratus  {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 11px;
  font-family: 'texfont','Ubuntu','Arial';
  border-color: transparent;
}


#footer p {
  font-size: 15px;
  padding-left: 15px;
  color: white;
  text-decoration: none;
  text-align: left;
  padding-top: 20px;
}

#footer a{
  text-decoration: none;
  color: white;
}

#footer a:hover{
  color: grey;
  }

.push {
  height:80px;
}

#prison{
  height: 100%; margin: 0; padding: 0;
}



#content-wrapper{
  display: none;
}

.hidden{display: none;}
.clearme {
    height: 1px;
    font-size: 0.001em;
    text-indent: -9999px;
    clear: both;
}

@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
}


/* end css.sty */

