
#individualPost.individual_audio
  h1
    a(href='https://github.com/Jaytex/WatPath') WatPath

  p.posttext  Used to help students find their degree paths 
  .clearme

#individualPost.individual_audio
  h1
    a(href='https://github.com/Jaytex/jaybamimore.com') jaybamimore.com

  p.posttext  Personal website, where I post random stuff 
  .clearme